<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Choosing Beggars</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="">Home</a></li>
      <li><a routerLink="funds">Funds</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<div id="footer">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-footer">
        <p class="navbar-brand">More Stuff</p>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Contact</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Social Media</a></li>
      </ul>
    </div>
  </nav>
</div>
